.blog {
  padding: var(--py) var(--px) 250px;
}

.blog-subtitle {
  text-align: center;
  margin: 15px;
}

.blog-title {
  text-align: center;
  margin-bottom: 60px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/*-----------------------------------*\
  #media_queries
\*-----------------------------------*/
@media (min-width: 767px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
