.category {
  padding: var(--py) var(--px);
}

.category-subtitle {
  text-align: center;
  margin-bottom: 15px;
}

.category-title {
  text-align: center;
  margin-bottom: 60px;
}

.category .course-item-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/*-----------------------------------*\
  #media_queries
\*-----------------------------------*/
@media (min-width: 767px) {
  .category .course-item-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .category .course-item-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
