.event-card {
  background: var(--white);
  border-radius: 8px;
  padding: 30px 25px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  border-right: 5px solid transparent;
  transition: var(--default-transition);
}

.event-card .content-left {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 25px;
  box-shadow: 0 16px 0 -15px var(--light-grey);
}

.event-card .day {
  font-size: var(--fs-3);
  font-weight: var(--fw-7);
  color: var(--main-color);
}

.event-card .month {
  font-size: var(--fs-6);
  font-weight: var(--fw-5);
  color: var(--main-color);
}

.event .schedule {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.event .schedule p {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  color: var(--light-grey);
}

.event .schedule .time {
  padding-right: 20px;
  margin-right: 20px;
  box-shadow: 4px 0 0 -3px var(--light-grey);
}

.event-card .event-name {
  color: var(--grey-color);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  line-height: 1.6;
  text-align: center;
  transition: var(--default-transition);
}

.event-card:hover {
  border-color: var(--accent-color);
}

.event-card:hover .event-name {
  color: var(--accent-color);
}

/*-----------------------------------*\
  #media_queries
\*-----------------------------------*/
@media (min-width: 575px) {
  .event-card {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .event-card .content-left {
    width: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 15px;
    margin-right: 25px;
    box-shadow: 1px 0 0 0 var(--light-gray);
  }

  .event .schedule {
    justify-content: start;
    margin-bottom: 5px;
  }

  .event-card .event-name {
    text-align: left;
  }
}
